.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.avatarAndStatus{
    display: flex;
    gap: 1rem;
}

.avatarAndStatus .nameAndStatus{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.avatarAndStatus .personName{
    font-size: 1rem;
}

.avatarAndStatus .status{
    color: #00B37E;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    gap: 3px;
}

.elipse{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #00B37E;
}

.closeButton button{
    border: none;
    cursor: pointer;
}

.closeButton img{
    height: 1.25rem;
    width: 1.25rem;
}